<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c91bcad2-4067-42b8-922a-59fdb7707ad6/resourcegroups/rg-hooper-webapp/providers/Microsoft.Web/sites/hooper-webapp-01</ResourceId>
    <ResourceGroup>rg-hooper-webapp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://hooper-webapp-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>aa97ff45-75ea-42cb-9884-c87b32047abc</ProjectGuid>
    <PublishUrl>https://hooper-webapp-01.scm.azurewebsites.net/</PublishUrl>
    <UserName>$hooper-webapp-01</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>